# **Kaggle Project**
## **Irem Nesli Erez & Ezgi Siir Kibris**

In [1]:
# This section of the code is added by default.

# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
# Import the necessary packages

import nltk #language processing
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk.corpus import stopwords

import re
import emoji

from sklearn.feature_extraction.text import CountVectorizer #for bag of words

import gensim
from gensim.models import Word2Vec

from sklearn import preprocessing
from sklearn.decomposition import PCA

path = '/Users/nesli/Desktop/SPRING 2022/DSCC 465/Kaggle_istanbul/'
os.chdir(path)

import random
random.seed(465) #seed

## Read the data

In [3]:
# Training data set
data_train = pd.read_csv('congressional_tweet_training_data.csv')
data_train

,favorite_count,full_text,hashtags,retweet_count,year,party_id
0,0,"b""RT @KUSINews: One of our longtime viewers wa...",KUSI,10,2017.0,R
1,258,"b""Today I'm urging the @CDCgov to immediately ...",Coronavirus,111,2020.0,R
2,0,"b'Tomorrow, #MO03 seniors graduate from Calvar...",MO03,2,2014.0,R
3,9,b'Congrats to #TeamUSA and Canton Native @JGre...,TeamUSA WorldJuniors,3,2017.0,R
4,3,b'Pleased to support @amergateways at their Ju...,ImmigrantHeritageMonth,3,2019.0,D
...,...,...,...,...,...,...
592798,3,"b'This time, it focused on careers in #publics...",publicservice publicsafety,0,2017.0,R
592799,5,"b'.#StormyDaniels, #MichaelWolfe, #JamesComey ...",StormyDaniels MichaelWolfe JamesComey,1,2018.0,R
592800,33,b'@NRDems The American people deserve the trut...,CultureOfCorruption,14,2020.0,D
592801,4,b'Only 2 weeks left to submit your #app to the...,app copolitics CAC16 HouseOfCode co06,3,2016.0,R
592802,155,b'The #MuslimBan remains as un-American and of...,MuslimBan,48,2020.0,D

In [4]:
# Test data set
data_test = pd.read_csv('congressional_tweet_test_data.csv')
data_test

,Id,favorite_count,full_text,hashtags,retweet_count,year,party
0,0,70,b'#TaxReform improved the playing field for Am...,TaxReform,13,2018.0,D
1,1,27,"b'This #NativeWomensEqualPay Day, we recommit ...",NativeWomensEqualPay,11,NaN,D
2,2,49,"b""\xe2\x80\x9cI became convinced that our gene...",MeToo ShatteringTheSilence,24,2017.0,D
3,3,14,"b'During #NationalAdoptionMonth, we honor the ...",NationalAdoptionMonth,2,2019.0,D
4,4,13,b'Happy #AirborneDay to our @USArmy paratroope...,AirborneDay AirborneAllTheWay,7,2018.0,D
...,...,...,...,...,...,...,...
264995,264995,516,b'We need to #ExtendCHIP before a single child...,ExtendCHIP,223,2017.0,D
264996,264996,0,"b""Our #ObamaCare investigation continued today...",ObamaCare,3,2013.0,D
264997,264997,1,b'Congratulations to the new #MissTeenUSA Loga...,MissTeenUSA CT,4,2012.0,D
264998,264998,2174,b'Speaking of dishonesty. Nothing like being c...,mosen,1168,2018.0,D
264999,264999,6,"b'In honor of #ConstitutionDay, we remember th...",ConstitutionDay,3,2015.0,D

## Kodu hizlandirmak icin

In [5]:
data_train[0:100]

,favorite_count,full_text,hashtags,retweet_count,year,party_id
0,0,"b""RT @KUSINews: One of our longtime viewers wa...",KUSI,10,2017.0,R
1,258,"b""Today I'm urging the @CDCgov to immediately ...",Coronavirus,111,2020.0,R
2,0,"b'Tomorrow, #MO03 seniors graduate from Calvar...",MO03,2,2014.0,R
3,9,b'Congrats to #TeamUSA and Canton Native @JGre...,TeamUSA WorldJuniors,3,2017.0,R
4,3,b'Pleased to support @amergateways at their Ju...,ImmigrantHeritageMonth,3,2019.0,D
...,...,...,...,...,...,...
95,35,"b'In 5 years of DACA, over 780,000 #DREAMers h...",DREAMers SaveDACA,17,2017.0,D
96,118,b'Over 90% of gun owners support expanding bac...,OutShoutTheGunLobby,39,2017.0,D
97,26,b'Holi is a time to celebrate renewal &amp; a ...,Holi2015,21,2015.0,D
98,78,b'Connecticut\xe2\x80\x99s 4th District lost t...,911remembrance,6,2018.0,D
99,6,b'Always great catching up with @GlennVaagen @...,FarmBill WA04,2,2018.0,R

In [6]:
data_train=data_train[0:100]

In [7]:
data_test=data_test[0:100]

## Data Pre-processing

First, preprocess the full_text feature of the tweets for both test and the train data sets.

In [8]:
#Code from HW4 CITE IT!

In [9]:
# Start by cleaning the full text of the tweets 
data_train.dropna(subset=['full_text'],inplace=True) #First, I drop the rows with NA in the text column
data_train

/Users/nesli/opt/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,favorite_count,full_text,hashtags,retweet_count,year,party_id
0,0,"b""RT @KUSINews: One of our longtime viewers wa...",KUSI,10,2017.0,R
1,258,"b""Today I'm urging the @CDCgov to immediately ...",Coronavirus,111,2020.0,R
2,0,"b'Tomorrow, #MO03 seniors graduate from Calvar...",MO03,2,2014.0,R
3,9,b'Congrats to #TeamUSA and Canton Native @JGre...,TeamUSA WorldJuniors,3,2017.0,R
4,3,b'Pleased to support @amergateways at their Ju...,ImmigrantHeritageMonth,3,2019.0,D
...,...,...,...,...,...,...
95,35,"b'In 5 years of DACA, over 780,000 #DREAMers h...",DREAMers SaveDACA,17,2017.0,D
96,118,b'Over 90% of gun owners support expanding bac...,OutShoutTheGunLobby,39,2017.0,D
97,26,b'Holi is a time to celebrate renewal &amp; a ...,Holi2015,21,2015.0,D
98,78,b'Connecticut\xe2\x80\x99s 4th District lost t...,911remembrance,6,2018.0,D
99,6,b'Always great catching up with @GlennVaagen @...,FarmBill WA04,2,2018.0,R

In [10]:
data_train=data_train.reset_index(drop=True) #to fix the indices

In [11]:
#Tokenize
tokens_list=list()
for i in np.arange(len(data_train)):
    tokens_list.append(nltk.word_tokenize(str(data_train['full_text'][i])))

In [12]:
tagged_tokens=list()
for i in np.arange(len(tokens_list)):
    tagged_tokens.append(nltk.pos_tag(tokens_list[i]))

In [13]:
def get_wordnet_pos(treebank_tag): #Following from [16]

    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None # for easy if-statement

In [14]:
lemmatizer = WordNetLemmatizer()

In [15]:
lemma_list=list()

for i in np.arange(len(tagged_tokens)):
    lemma=list()
    for j in np.arange(len(tagged_tokens[i])):
        
        token=tagged_tokens[i][j][0] 
        tag=tagged_tokens[i][j][1]
        
        wntag = get_wordnet_pos(tag)
        if wntag is None:           #do not supply tag in case of None
            lemma.append(lemmatizer.lemmatize(token))
        else:
            lemma.append(lemmatizer.lemmatize(token, pos=wntag))
    lemma_list.append(lemma)

In [16]:
len(lemma_list)

100

In [17]:
# Before removing elements from the string, make all of them lowercase
filtered_lower=list()
for i in np.arange(len(lemma_list)):
    lowered=list()
    for j in np.arange(len(lemma_list[i])):
        lowered.append(lemma_list[i][j].lower())
    filtered_lower.append(lowered)

In [18]:
# Now to remove stop words like 'the', 'a', 'and' 
stop_words = set(stopwords.words('english'))

In [19]:
filtered_list=list()
for i in np.arange(len(filtered_lower)):
    filtered_list.append([w for w in filtered_lower[i] if not w.lower() in stop_words])

In [20]:
len(filtered_list)

100

In [21]:
# Remove numbers, words <2 characters, punctuation, links and emojis 

def emoji_free_text(text): # From [9]
    return emoji.get_emoji_regexp().sub(r'', text)

In [22]:
filtered_elements=list()

for i in np.arange(len(filtered_list)):
    filter_element=list()
    for j in np.arange(len(filtered_list[i])):
        
        element=re.sub(r'\d+', '',filtered_list[i][j])          # Remove numbers
        element=re.sub(r'\b\w{1}\b', '', element)               # Remove <2 characters
        element=re.sub(r'[^\w\s]', '', element)                 # Remove punctuation
        element=re.sub(r'http\S+', '', element)                 # Remove links
        #element=re.sub('/[\u{1f300}-\u{1f5ff}]/', '', element) # Remove symbols
        #element=re.sub('/[\u{1f600}-\u{1f64f}]/','', element)  # Remove emoticons
        emoji_free_text(element)
        
        filter_element.append(element)
    filtered_elements.append(filter_element)

In [23]:
# Combine the elements back to form sentences
text_clean_list=list()
s=' '

for i in np.arange(len(filtered_elements)):
    text_clean_list.append(s.join(filtered_elements[i]))

In [24]:
len(text_clean_list)

100

In [25]:
# Add a new column of 'text_clean'
data_train.insert(6, "text_clean", text_clean_list)

In [26]:
data_train.head()

,favorite_count,full_text,hashtags,retweet_count,year,party_id,text_clean
0,0,"b""RT @KUSINews: One of our longtime viewers wa...",KUSI,10,2017.0,R,rt kusinews one longtime viewer congressma...
1,258,"b""Today I'm urging the @CDCgov to immediately ...",Coronavirus,111,2020.0,R,today urge cdcgov immediately launch phon...
2,0,"b'Tomorrow, #MO03 seniors graduate from Calvar...",MO03,2,2014.0,R,tomorrow mo senior graduate calvary lutheran...
3,9,b'Congrats to #TeamUSA and Canton Native @JGre...,TeamUSA WorldJuniors,3,2017.0,R,congrats teamusa canton native jgreenway win...
4,3,b'Pleased to support @amergateways at their Ju...,ImmigrantHeritageMonth,3,2019.0,D,pleased support amergateways june fiesta hon...

In [27]:
# Repeat the same for the test data

# Start by cleaning the full text of the tweets 
data_test.dropna(subset=['full_text'],inplace=True) #First, I drop the rows with NA in the text column
data_test

/Users/nesli/opt/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Id,favorite_count,full_text,hashtags,retweet_count,year,party
0,0,70,b'#TaxReform improved the playing field for Am...,TaxReform,13,2018.0,D
1,1,27,"b'This #NativeWomensEqualPay Day, we recommit ...",NativeWomensEqualPay,11,NaN,D
2,2,49,"b""\xe2\x80\x9cI became convinced that our gene...",MeToo ShatteringTheSilence,24,2017.0,D
3,3,14,"b'During #NationalAdoptionMonth, we honor the ...",NationalAdoptionMonth,2,2019.0,D
4,4,13,b'Happy #AirborneDay to our @USArmy paratroope...,AirborneDay AirborneAllTheWay,7,2018.0,D
...,...,...,...,...,...,...,...
95,95,66,"b""I've never been more confused in my life. An...",whiteandgold blackandblue,78,2015.0,D
96,96,678,b'This is progress #coronarvirus https://t.co/...,coronarvirus,224,2020.0,D
97,97,5,b'.@HouseGOP voted to reduce child care access...,WEmatter,11,2014.0,D
98,98,0,b'Our Army is equally ready to assist in a dis...,MilitaryMonday,0,2016.0,D
99,99,28,b'There is no racial justice without environme...,COVID19,14,2020.0,D

In [28]:
data_test=data_test.reset_index(drop=True) #to fix the indices

In [29]:
#Tokenize
tokens_list=list()
for i in np.arange(len(data_test)):
    tokens_list.append(nltk.word_tokenize(str(data_test['full_text'][i])))

In [30]:
tagged_tokens=list()
for i in np.arange(len(tokens_list)):
    tagged_tokens.append(nltk.pos_tag(tokens_list[i]))

In [31]:
def get_wordnet_pos(treebank_tag): #Following from [16]

    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None # for easy if-statement

In [32]:
lemmatizer = WordNetLemmatizer()

In [33]:
lemma_list=list()

for i in np.arange(len(tagged_tokens)):
    lemma=list()
    for j in np.arange(len(tagged_tokens[i])):
        
        token=tagged_tokens[i][j][0] 
        tag=tagged_tokens[i][j][1]
        
        wntag = get_wordnet_pos(tag)
        if wntag is None:           #do not supply tag in case of None
            lemma.append(lemmatizer.lemmatize(token))
        else:
            lemma.append(lemmatizer.lemmatize(token, pos=wntag))
    lemma_list.append(lemma)

In [34]:
len(lemma_list)

100

In [35]:
# Before removing elements from the string, make all of them lowercase
filtered_lower=list()
for i in np.arange(len(lemma_list)):
    lowered=list()
    for j in np.arange(len(lemma_list[i])):
        lowered.append(lemma_list[i][j].lower())
    filtered_lower.append(lowered)

In [36]:
# Now to remove stop words like 'the', 'a', 'and' 
stop_words = set(stopwords.words('english'))

In [37]:
filtered_list=list()
for i in np.arange(len(filtered_lower)):
    filtered_list.append([w for w in filtered_lower[i] if not w.lower() in stop_words])

In [38]:
len(filtered_list)

100

In [39]:
# Remove numbers, words <2 characters, punctuation, links and emojis 

def emoji_free_text(text): # From [9]
    return emoji.get_emoji_regexp().sub(r'', text)

In [40]:
filtered_elements=list()

for i in np.arange(len(filtered_list)):
    filter_element=list()
    for j in np.arange(len(filtered_list[i])):
        
        element=re.sub(r'\d+', '',filtered_list[i][j])          # Remove numbers
        element=re.sub(r'\b\w{1}\b', '', element)               # Remove <2 characters
        element=re.sub(r'[^\w\s]', '', element)                 # Remove punctuation
        element=re.sub(r'http\S+', '', element)                 # Remove links
        #element=re.sub('/[\u{1f300}-\u{1f5ff}]/', '', element) # Remove symbols
        #element=re.sub('/[\u{1f600}-\u{1f64f}]/','', element)  # Remove emoticons
        emoji_free_text(element)
        
        filter_element.append(element)
    filtered_elements.append(filter_element)

In [41]:
# Combine the elements back to form sentences
text_clean_list=list()
s=' '

for i in np.arange(len(filtered_elements)):
    text_clean_list.append(s.join(filtered_elements[i]))

In [42]:
len(text_clean_list)

100

In [43]:
# Add a new column of 'text_clean'
data_test.insert(7, "text_clean", text_clean_list)

In [44]:
data_test.head()

,Id,favorite_count,full_text,hashtags,retweet_count,year,party,text_clean
0,0,70,b'#TaxReform improved the playing field for Am...,TaxReform,13,2018.0,D,taxreform improve playing field american wo...
1,1,27,"b'This #NativeWomensEqualPay Day, we recommit ...",NativeWomensEqualPay,11,NaN,D,this nativewomensequalpay day recommit pass ...
2,2,49,"b""\xe2\x80\x9cI became convinced that our gene...",MeToo ShatteringTheSilence,24,2017.0,D,xexci become convinced generation silence ma...
3,3,14,"b'During #NationalAdoptionMonth, we honor the ...",NationalAdoptionMonth,2,2019.0,D,during nationaladoptionmonth honor adoptive ...
4,4,13,b'Happy #AirborneDay to our @USArmy paratroope...,AirborneDay AirborneAllTheWay,7,2018.0,D,happy airborneday usarmy paratrooper veteran...

## How to deal with shortened words like rt?

We could create a dictionary for that, but we assume that the senators(?) use English properly.

## Vectorize the data

Now for vectorization, we can use different techniques. Try two different methods:

1. Bag of words
2. Word2vec

We will not try TF-IDF because it is rather beneficial for long text data.

Considering the fact that the bag of words method includes each unique word in the text as a dimension, it is better to apply vectorization on the merged data set that contains both the test and the training sets.

In [45]:
# Bag of words
# Following from [1]
vectorizer = CountVectorizer()

text_bow = vectorizer.fit_transform(data_train['text_clean'])
text_bow_df = pd.DataFrame(text_bow.toarray(),columns=vectorizer.get_feature_names())

In [46]:
text_bow_df

,abrams,aca,access,accessibility,across,act,action,activity,actonclimate,ada,...,xexcmy,xexdxaxefxbxf,xexm,yarnell,year,yorkers,young,youtube,zika,zumwalt
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
96,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
# Bag of words
# Following from [1]
# For the test data
vectorizer = CountVectorizer()

text_bow_test = vectorizer.fit_transform(data_test['text_clean'])
text_bow__test_df = pd.DataFrame(text_bow_test.toarray(),columns=vectorizer.get_feature_names())

In [48]:
text_bow__test_df

,abcnews,able,abortion,absolutely,access,accomplish,accordingly,across,act,actxexd,...,xfxfxaxa,xfxfxbb,year,yemen,yesterday,yet,young,youth,yr,zero
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

But we would like the same vectorization to happen for all of the data.

In [49]:
data=pd.concat([data_train,data_test], ignore_index=True)

In [50]:
data

,favorite_count,full_text,hashtags,retweet_count,year,party_id,text_clean,Id,party
0,0,"b""RT @KUSINews: One of our longtime viewers wa...",KUSI,10,2017.0,R,rt kusinews one longtime viewer congressma...,NaN,NaN
1,258,"b""Today I'm urging the @CDCgov to immediately ...",Coronavirus,111,2020.0,R,today urge cdcgov immediately launch phon...,NaN,NaN
2,0,"b'Tomorrow, #MO03 seniors graduate from Calvar...",MO03,2,2014.0,R,tomorrow mo senior graduate calvary lutheran...,NaN,NaN
3,9,b'Congrats to #TeamUSA and Canton Native @JGre...,TeamUSA WorldJuniors,3,2017.0,R,congrats teamusa canton native jgreenway win...,NaN,NaN
4,3,b'Pleased to support @amergateways at their Ju...,ImmigrantHeritageMonth,3,2019.0,D,pleased support amergateways june fiesta hon...,NaN,NaN
...,...,...,...,...,...,...,...,...,...
195,66,"b""I've never been more confused in my life. An...",whiteandgold blackandblue,78,2015.0,NaN,ve never confused life ve listen replouieg...,95.0,D
196,678,b'This is progress #coronarvirus https://t.co/...,coronarvirus,224,2020.0,NaN,this progress coronarvirus http cohsplcjy,96.0,D
197,5,b'.@HouseGOP voted to reduce child care access...,WEmatter,11,2014.0,NaN,housegop vote reduce child care access de...,97.0,D
198,0,b'Our Army is equally ready to assist in a dis...,MilitaryMonday,0,2016.0,NaN,our army equally ready assist disaster amp e...,98.0,D
199,28,b'There is no racial justice without environme...,COVID19,14,2020.0,NaN,there racial justice without environmental am...,99.0,D

In [51]:
# Bag of words
# Following from [1]
vectorizer = CountVectorizer()

text_bow = vectorizer.fit_transform(data['text_clean'])
text_bow_df = pd.DataFrame(text_bow.toarray(),columns=vectorizer.get_feature_names())

In [52]:
text_bow_df

,abcnews,able,abortion,abrams,absolutely,aca,access,accessibility,accomplish,accordingly,...,yesterday,yet,yorkers,young,youth,youtube,yr,zero,zika,zumwalt
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
text_bow.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 4],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [54]:
#Now, include these vectors as a new column named bow_vector in your datasets 

data_train['bow_vector']=text_bow[0:len(data_train)].toarray().tolist()

In [55]:
data_train

,favorite_count,full_text,hashtags,retweet_count,year,party_id,text_clean,bow_vector
0,0,"b""RT @KUSINews: One of our longtime viewers wa...",KUSI,10,2017.0,R,rt kusinews one longtime viewer congressma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,258,"b""Today I'm urging the @CDCgov to immediately ...",Coronavirus,111,2020.0,R,today urge cdcgov immediately launch phon...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,0,"b'Tomorrow, #MO03 seniors graduate from Calvar...",MO03,2,2014.0,R,tomorrow mo senior graduate calvary lutheran...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,9,b'Congrats to #TeamUSA and Canton Native @JGre...,TeamUSA WorldJuniors,3,2017.0,R,congrats teamusa canton native jgreenway win...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,3,b'Pleased to support @amergateways at their Ju...,ImmigrantHeritageMonth,3,2019.0,D,pleased support amergateways june fiesta hon...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...
95,35,"b'In 5 years of DACA, over 780,000 #DREAMers h...",DREAMers SaveDACA,17,2017.0,D,in year daca dreamers give chance work stu...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
96,118,b'Over 90% of gun owners support expanding bac...,OutShoutTheGunLobby,39,2017.0,D,over gun owner support expand background che...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
97,26,b'Holi is a time to celebrate renewal &amp; a ...,Holi2015,21,2015.0,D,holi time celebrate renewal amp strengthenin...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
98,78,b'Connecticut\xe2\x80\x99s 4th District lost t...,911remembrance,6,2018.0,D,connecticutxexs th district lose many mom dad...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
99,6,b'Always great catching up with @GlennVaagen @...,FarmBill WA04,2,2018.0,R,always great catch glennvaagen waagnetwork u...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [56]:
#Now, include these vectors as a new column named bow_vector in your datasets 

data_test['bow_vector']=text_bow[len(data_train):len(data)].toarray().tolist()

In [57]:
data_test

,Id,favorite_count,full_text,hashtags,retweet_count,year,party,text_clean,bow_vector
0,0,70,b'#TaxReform improved the playing field for Am...,TaxReform,13,2018.0,D,taxreform improve playing field american wo...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,1,27,"b'This #NativeWomensEqualPay Day, we recommit ...",NativeWomensEqualPay,11,NaN,D,this nativewomensequalpay day recommit pass ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."
2,2,49,"b""\xe2\x80\x9cI became convinced that our gene...",MeToo ShatteringTheSilence,24,2017.0,D,xexci become convinced generation silence ma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,14,"b'During #NationalAdoptionMonth, we honor the ...",NationalAdoptionMonth,2,2019.0,D,during nationaladoptionmonth honor adoptive ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,13,b'Happy #AirborneDay to our @USArmy paratroope...,AirborneDay AirborneAllTheWay,7,2018.0,D,happy airborneday usarmy paratrooper veteran...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...
95,95,66,"b""I've never been more confused in my life. An...",whiteandgold blackandblue,78,2015.0,D,ve never confused life ve listen replouieg...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
96,96,678,b'This is progress #coronarvirus https://t.co/...,coronarvirus,224,2020.0,D,this progress coronarvirus http cohsplcjy,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
97,97,5,b'.@HouseGOP voted to reduce child care access...,WEmatter,11,2014.0,D,housegop vote reduce child care access de...,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
98,98,0,b'Our Army is equally ready to assist in a dis...,MilitaryMonday,0,2016.0,D,our army equally ready assist disaster amp e...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
99,99,28,b'There is no racial justice without environme...,COVID19,14,2020.0,D,there racial justice without environmental am...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

Word2vec similarity ler icin iyi ama bag of words gibi bir vektor dondurmuyor ya da ben bulamadim.

In [58]:
# Now Word2vec

# Following from [2]

model = gensim.models.Word2Vec(data['text_clean'], min_count = 1)

In [59]:
model

## Apply dimensionality reduction to bow_vector and decrease it to 3 principal components

In [60]:
# Apply dimensionality reduction to both test and train sets simultaneously
text_bow_df

,abcnews,able,abortion,abrams,absolutely,aca,access,accessibility,accomplish,accordingly,...,yesterday,yet,yorkers,young,youth,youtube,yr,zero,zika,zumwalt
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
# from HW6
#Following from [5] to use sklearn's PCA 

#Standardize before calling PCA
scaler=preprocessing.StandardScaler().fit(text_bow_df)
text_bow_df_scaled=scaler.transform(text_bow_df) 

sklearn_pca = PCA(n_components=3)
pcs = sklearn_pca.fit_transform(text_bow_df_scaled)

In [62]:
pcs

array([[-6.87505822e-02,  2.55265071e-01, -5.58935211e-01],
       [-1.19377965e+00, -1.10518070e+00, -5.31219196e+00],
       [-3.44852352e-01, -2.61232125e-01, -3.27610713e-01],
       [-6.65813159e-01,  8.23961243e-02, -7.32119027e-01],
       [-1.04839440e+00, -3.23692188e+00, -1.32447449e+00],
       [ 5.21165273e-01, -1.78451832e+00, -2.21592249e+00],
       [ 6.26502534e-01, -5.81655840e-01, -2.79330841e-01],
       [-4.65293372e-01,  1.78344366e-01, -4.46413629e-01],
       [-6.08073302e-01,  2.29293376e-01, -5.40706986e-01],
       [-3.66537926e-01,  7.53301473e-02, -3.78618988e-01],
       [-8.62408424e-01,  3.31198137e+00, -1.68074077e-01],
       [-4.43070455e-01,  1.33782647e-01, -5.00727757e-01],
       [-7.97909070e-01,  2.99259804e-01, -6.84317579e-01],
       [-6.16269832e-01, -1.89028010e-01, -1.08594303e+00],
       [-3.05813354e-01,  8.25796442e-01, -4.29787629e+00],
       [-6.55766859e-01, -1.04936055e+00,  1.08974860e+00],
       [ 3.07097363e-01,  1.81152579e-01, -3.93537930e-01],
       [-7.95543263e-01, -2.80881442e-01,  1.28200634e+00],
       [-4.63749950e-01,  6.06388646e-01, -1.63312991e+00],
       [-4.64838297e-01,  3.19759164e-01, -2.76406876e-01],
       [-1.26819897e+00,  7.10178475e-02,  3.48522801e-01],
       [-8.60207046e-01, -8.80617969e-02,  4.61777882e-01],
       [-5.39272204e-01,  3.58792791e-02, -6.49113678e-01],
       [-5.75620692e-01, -4.50756797e-01,  3.39483858e-01],
       [-2.62331981e+00,  4.12442886e+00,  4.84210171e-01],
       [-4.90975377e-01, -2.18620053e-01, -3.05190708e-01],
       [ 6.57982019e+01,  2.86782509e-01, -2.51625842e+00],
       [-5.21649649e-01,  3.75442000e-01, -3.11890234e-01],
       [-6.74483922e-01,  3.24845468e-01, -7.13153172e-01],
       [-5.08705138e-01, -1.08262497e-01, -4.49630721e-01],
       [-4.87980724e-01, -5.92063690e-02, -4.32648830e-01],
       [-5.46447139e-01, -2.33882083e-01, -5.80322211e-01],
       [-5.20326077e-01,  3.63485878e-01, -2.69866350e-01],
       [-4.20528301e-01, -2.20691615e+00, -2.68701520e+00],
       [-6.60549356e-01,  7.97067181e-02, -5.80582935e-01],
       [-2.19516347e-01, -2.51544398e-01, -7.10756915e-01],
       [-1.05784525e+00, -7.38617537e-02, -1.70103750e-01],
       [ 3.94142482e-01, -3.65341139e-01,  1.10273115e-01],
       [-7.84231102e-01, -1.15931768e+00, -2.57659564e+00],
       [-5.35395633e-02, -1.08887487e+00, -5.12526929e-01],
       [-5.80669756e-01, -6.07706087e-03, -4.59252862e-01],
       [-4.82278474e-01, -3.94209640e-01, -5.01994888e-01],
       [-5.86242610e-01,  1.68616867e-01, -5.55879767e-01],
       [-3.81857025e-01, -1.94773115e-01, -4.26792357e-01],
       [-4.38389951e-01, -1.52341035e-02, -2.00745103e-01],
       [-6.26494034e-01,  3.26631615e-02, -4.97837576e-01],
       [-3.52152669e-01,  1.45269552e-02, -2.77790187e-01],
       [-6.08784642e-01, -9.90109113e-01,  2.05154168e+00],
       [-3.58391381e-01,  2.06322527e-02, -2.75602605e-01],
       [-5.37482032e-01, -5.31251767e-02, -4.77258472e-01],
       [-4.24733647e+00,  5.85581650e+00, -5.22307141e+00],
       [-1.30371539e+00, -6.19349435e+00, -9.77560402e+00],
       [-6.00661536e-01,  5.19043971e-01, -2.20701054e-01],
       [ 1.92742223e-01, -1.40451044e-01, -8.21673530e-01],
       [-9.19965264e-01, -3.36840028e-01,  1.24106411e+00],
       [-3.67593961e-01, -3.95228713e-02, -2.51441584e-01],
       [-2.57544461e-01, -3.02193600e+00,  4.20501998e+00],
       [-3.13433804e-01,  1.47676085e-01, -3.24784765e-01],
       [-5.11751488e-01, -6.84566740e-02, -9.37530664e-01],
       [-8.76668216e-01, -1.22139758e+00,  1.48311805e+00],
       [-4.27923721e-01,  1.48683195e-01, -4.98195784e-01],
       [-7.33391561e-01,  3.12354889e-01, -5.73684328e-01],
       [-3.41616802e-01,  3.21232670e-03, -2.23042579e-01],
       [-5.44427442e-01,  7.28472908e-02, -4.63509465e-01],
       [-4.68842392e-01, -1.94488301e-01, -4.00060348e-01],
       [-3.21325149e-01,  1.59190529e-02, -2.41842841e-01],
       [ 6.66282666e-01,  5.13867015e-01, -3.28105515e-01],
       [-6.15683028e-01,  3.78145166e-01, -1.20585344e-01],
       [ 1.26392361e+00, -4.11228538e+00,  1.49493178e+00],
       [-1.23004655e+00,  4.56939032e-01,  1.65742369e-01],
       [-6.31413016e-01, -4.72870605e-01, -7.50749276e-01],
       [-3.21325174e-01,  1.59189197e-02, -2.41842087e-01],
       [-9.13869324e-01,  1.81507458e+00, -2.72682433e-01],
       [-7.58832603e-01, -7.10108658e-02,  1.38530376e+00],
       [-2.26578363e-01, -9.36836429e-01,  2.33118908e+00],
       [ 3.37548423e+00,  3.30883326e+00,  1.44074431e-01],
       [-5.86953717e-01,  1.35066510e-02, -3.07247303e-01],
       [-7.23819138e-01, -1.37396052e-01, -1.50534807e+00],
       [-5.20702648e-01,  1.11671599e-01, -7.56601589e-01],
       [ 1.00235983e+00, -5.27356735e-01,  1.95100702e-01],
       [-1.01514325e+00,  1.87656825e+00,  1.10338748e+00],
       [-4.60336077e-01, -3.64449677e-01,  5.17981413e-01],
       [-5.39483498e-01,  2.32047391e-02, -4.07045231e-01],
       [-5.68564986e-01,  2.93837586e-01, -2.44469183e-01],
       [ 1.52797637e+00, -2.74978903e+00,  3.43400089e+00],
       [-3.62895684e-01, -6.64162522e-01, -2.75245431e+00],
       [-6.24915629e-01,  2.95197586e-01, -5.08367124e-01],
       [-5.03499858e-01, -8.55634340e-03, -3.54819012e-01],
       [-4.61607765e-01, -1.66276607e-01, -4.69973259e-01],
       [-4.59419686e-01,  5.97878874e-02, -7.03156054e-01],
       [ 4.66892722e+00,  2.00325183e+00, -2.81186226e+00],
       [ 6.87249766e-01, -2.23665190e-01, -8.27191003e-01],
       [-3.97569307e-01, -2.34199741e+00, -1.48894342e+00],
       [-4.15385856e-01, -5.87191875e-04, -4.82160853e-01],
       [-3.51639839e-01,  1.00309183e-01, -6.26137822e-01],
       [-6.43119740e-01, -2.52113183e-01, -6.58921897e-01],
       [-4.00331348e-01,  1.86481836e+00,  5.86955354e-01],
       [-2.04727590e-01, -2.00750564e-01, -1.46978313e-01],
       [-9.63896373e-01,  1.26561855e+00, -5.12683369e-01],
       [ 1.96145001e+00, -7.76586016e-01,  7.74579333e-01],
       [-4.33082716e-01, -8.15843191e-01,  6.20416948e-01],
       [-7.94276435e-01, -6.06982756e-01, -9.66506555e-01],
       [ 7.60132887e-01, -6.39047093e+00, -3.12211412e+00],
       [ 6.34865519e-01,  1.33094095e+00, -8.42186806e-01],
       [-7.76133852e-01, -2.10361591e-01,  4.11635247e-01],
       [-3.57351883e-01, -7.46235740e-01, -2.13532476e-01],
       [-1.07845742e+00, -1.40699283e+00, -2.42752691e-01],
       [-5.78597100e-01, -1.64769598e+00,  2.63690395e+00],
       [-6.68582694e-02, -3.75073459e-01,  2.05791800e-01],
       [-4.46568236e-01, -4.65124263e-01,  4.39773434e-01],
       [-4.83732730e-01,  2.35505538e-01, -1.93302073e-01],
       [-5.96759733e-01, -6.41267694e-01,  6.29836584e-01],
       [-8.82998239e-01, -2.60696496e+00,  7.65130677e-01],
       [-4.67215594e-01,  2.46147108e-01, -2.48069648e-01],
       [ 5.18083905e-01, -3.26035867e+00,  4.72020563e+00],
       [-1.93718408e+00,  5.11320923e-02, -4.24356136e+00],
       [ 8.19193907e-01,  5.55853738e+01,  1.99716804e+01],
       [-4.96069404e-01,  2.96745292e-01, -5.70464500e-01],
       [-5.26420412e-01,  7.89883178e-01, -2.35172798e-01],
       [-6.86482872e-01, -5.82784105e-01,  1.49181165e+00],
       [ 3.24402658e-01, -1.61906849e-01, -6.49610255e-01],
       [-6.69452419e-01,  5.62131820e-01, -1.49322037e+00],
       [-3.16322663e-01, -4.16648582e-02, -8.67157599e-01],
       [-7.36242029e-01,  2.25632748e-01, -1.54217791e+00],
       [ 7.59443687e-01, -1.23144333e+00,  6.42329597e-01],
       [ 2.42674973e+00, -4.08013090e+00, -1.59425514e+00],
       [-6.06451522e-01,  3.34399356e+00,  5.18013687e-01],
       [-3.53017334e-01,  3.93412644e-03, -2.44420399e-01],
       [-5.15206717e-01, -1.03885794e+00, -1.02208964e+00],
       [-2.83821595e-01, -4.70288721e-01, -4.86165649e-01],
       [-4.31257739e-01,  1.61465776e-03, -7.27723315e-02],
       [-3.04999880e-01,  2.44760727e-01, -6.49234617e-01],
       [ 1.06235710e-01, -1.76112342e+00,  2.32060978e+00],
       [-5.00284442e-01, -8.12229902e-01,  3.72977909e-01],
       [-1.67968656e+00, -1.97914354e+00,  4.06977904e+00],
       [-6.15470458e-01,  1.99279578e-01,  8.25497149e-01],
       [-4.24569747e-01,  1.37998394e-01, -3.67927699e-01],
       [-5.99793127e-01,  1.26099619e-01, -3.51723183e-01],
       [-5.68514392e-01,  2.79506980e-01, -6.60724991e-01],
       [ 9.48711803e-01, -7.03215547e-01, -1.22056928e+00],
       [-5.76939299e-01,  4.03300652e-02, -5.75060218e-01],
       [-6.33315931e-01, -4.96945320e-02, -7.10316120e-01],
       [-6.20425765e-01,  5.42548987e-02, -5.99626336e-01],
       [-4.41180112e-01,  1.01080258e+00,  9.61191397e-01],
       [-6.51599476e-01,  4.91640221e-02, -5.25036007e-01],
       [-5.09160631e-01, -2.07437470e-01, -6.61887906e-02],
       [-4.65590614e-01,  4.89672640e-01,  6.75172920e-01],
       [ 4.44110925e-02,  7.80379853e-02, -2.82206218e-01],
       [-5.65944508e-01, -1.85031133e-02, -3.06982775e-01],
       [-3.21612412e-01, -6.09945181e-02, -2.29078348e-01],
       [-7.34459749e-01, -6.25318231e-02, -1.06730897e+00],
       [-3.58928752e-01,  6.14208392e-01,  1.95216092e-02],
       [-5.26844251e-01, -2.42894911e-01, -2.62401737e-01],
       [-7.21084824e-01,  3.76179978e-01, -5.94676167e-01],
       [-3.18821443e-01, -1.68588513e-02, -3.92346752e-01],
       [-4.76150109e-01,  7.36909996e-02, -4.02834915e-01],
       [-3.77932313e-01, -3.94566763e-01,  3.65631464e-01],
       [-5.87699666e-01,  3.71841165e-03, -5.45032071e-01],
       [ 2.00231067e+00,  6.05523527e-01, -9.86970142e-01],
       [-4.37141531e-01,  1.33323645e-01, -2.76952943e-01],
       [-4.72943828e-01, -6.73304898e-01, -2.88729993e-01],
       [-1.41283420e+00,  2.53195568e+00, -2.51018551e+00],
       [-4.71173020e-01,  3.98728749e-02, -4.54903511e-01],
       [-2.67266714e-01, -1.84256644e+00,  3.00668163e-01],
       [-4.67167954e-01,  1.60799340e-01, -4.40403642e-01],
       [-4.06395439e-01,  8.03293450e-02, -3.92400794e-01],
       [-5.11182892e-01, -4.00850675e-01, -9.19531043e-01],
       [-4.74046338e-01, -3.28218719e-02, -3.66613026e-01],
       [-9.13824285e-02, -5.10589046e-01, -6.84694061e-01],
       [-5.87891747e-01, -8.25426553e-01, -7.89453850e-02],
       [-5.57088354e-01,  4.09911439e-04, -8.42671676e-01],
       [-5.83606770e-01, -1.79147609e-02, -7.57873823e-01],
       [ 1.61071113e+00,  5.93756707e-01, -8.38839822e-01],
       [-3.35115748e-01,  1.16901409e-01, -4.67289237e-01],
       [-6.20278836e-01,  1.33064356e-01, -6.10484933e-01],
       [-2.05567139e+00,  5.96735134e-01, -2.26546706e-01],
       [ 2.99255471e-01, -5.93705778e-01, -1.05080092e+00],
       [-5.21004543e-01,  1.86279779e-01, -4.75863324e-01],
       [ 4.80912798e-01, -1.19772051e-01, -2.72762683e-01],
       [-2.49664342e-01, -4.83397380e-01,  2.80530998e-01],
       [-7.90437996e-01, -2.39567388e-01,  1.31944048e+00],
       [-4.66414532e-01,  2.98225328e-01, -4.59321334e-01],
       [-7.23280233e-01,  2.85043660e-01, -5.92277605e-01],
       [ 1.59071442e+00, -1.64306665e-01, -6.05683436e-01],
       [-2.79037492e-01, -2.50149861e-01, -7.71633923e-01],
       [-3.38151964e-01, -2.99525389e-01, -6.56027257e-01],
       [-7.87864067e-01, -1.65818237e-02, -1.79794804e-01],
       [-5.03967707e-01, -2.25951772e-01, -5.80857692e-01],
       [-3.22909562e-01, -1.88282118e-01, -5.65449625e-01],
       [ 1.32403246e-01,  5.24980337e-01, -4.90214001e-01],
       [ 1.83548880e+00, -2.03893997e+01,  5.44648590e+01],
       [-3.86576058e-01, -3.56065580e-02, -1.27447405e+00],
       [ 1.42553048e+00, -4.68617454e-01, -3.09488320e-01],
       [-1.87989016e-01, -7.99843566e-01,  1.34149536e+00],
       [-2.39203159e-01,  1.34543734e+00,  1.17257147e-01],
       [-4.34385616e-01,  2.35675505e-01, -5.42924978e-01],
       [-3.70548226e-01, -1.92016965e-04, -3.00131403e-01],
       [ 1.15180794e+00,  3.25128294e-03, -2.84763695e-01],
       [-3.87277299e-01, -9.08306596e-02, -6.28377991e-01],
       [-9.53041699e-01, -4.76210949e+00, -3.45869997e-01]])

In [63]:
# Add pcs to the original data
data_train['bow_pcs']=pcs[0:len(data_train)].tolist()

In [64]:
data_train.head()

,favorite_count,full_text,hashtags,retweet_count,year,party_id,text_clean,bow_vector,bow_pcs
0,0,"b""RT @KUSINews: One of our longtime viewers wa...",KUSI,10,2017.0,R,rt kusinews one longtime viewer congressma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.06875058216178768, 0.2552650712214816, -0...."
1,258,"b""Today I'm urging the @CDCgov to immediately ...",Coronavirus,111,2020.0,R,today urge cdcgov immediately launch phon...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-1.193779646604758, -1.1051806986113506, -5.3..."
2,0,"b'Tomorrow, #MO03 seniors graduate from Calvar...",MO03,2,2014.0,R,tomorrow mo senior graduate calvary lutheran...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.3448523522020344, -0.2612321248905071, -0...."
3,9,b'Congrats to #TeamUSA and Canton Native @JGre...,TeamUSA WorldJuniors,3,2017.0,R,congrats teamusa canton native jgreenway win...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.6658131593621377, 0.08239612434348237, -0...."
4,3,b'Pleased to support @amergateways at their Ju...,ImmigrantHeritageMonth,3,2019.0,D,pleased support amergateways june fiesta hon...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-1.0483944004520709, -3.23692187886599, -1.32..."

In [65]:
data_test['bow_pcs']=pcs[len(data_train):len(data)].tolist()

In [66]:
data_test.head()

,Id,favorite_count,full_text,hashtags,retweet_count,year,party,text_clean,bow_vector,bow_pcs
0,0,70,b'#TaxReform improved the playing field for Am...,TaxReform,13,2018.0,D,taxreform improve playing field american wo...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.4330827162015874, -0.8158431909475188, 0.6..."
1,1,27,"b'This #NativeWomensEqualPay Day, we recommit ...",NativeWomensEqualPay,11,NaN,D,this nativewomensequalpay day recommit pass ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...","[-0.7942764350952535, -0.6069827558870563, -0...."
2,2,49,"b""\xe2\x80\x9cI became convinced that our gene...",MeToo ShatteringTheSilence,24,2017.0,D,xexci become convinced generation silence ma...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.7601328874967249, -6.390470928961413, -3.12..."
3,3,14,"b'During #NationalAdoptionMonth, we honor the ...",NationalAdoptionMonth,2,2019.0,D,during nationaladoptionmonth honor adoptive ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.634865518604647, 1.330940949329596, -0.8421..."
4,4,13,b'Happy #AirborneDay to our @USArmy paratroope...,AirborneDay AirborneAllTheWay,7,2018.0,D,happy airborneday usarmy paratrooper veteran...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.7761338521430998, -0.21036159127329127, 0...."

In [ ]:
# Maybe remove hashtags from the text data? but no, better for dimensionality reduction

In [67]:
#Plot like in HW6

In [68]:
# bow_vector dimensionality reduction with HW6 spectral embedding

In [69]:
# bow_vector dimensionality reduction with HW6 t-SNE

In [70]:
#Logistic regression with ElasticNet

## **References**

[1] https://www.analyticsvidhya.com/blog/2021/08/a-friendly-guide-to-nlp-bag-of-words-with-python-example/

[2] https://www.geeksforgeeks.org/python-word-embedding-using-word2vec/